@model OdeToFood_CoreFundamentals.ViewModels.HomePageViewModel

@{ 
    ViewBag.Title = "Home";
}

<h1>Welcome!</h1>
<h3>@Model.CurrentMessage</h3>

@foreach (var restaurant in Model.Restaurants)
{
    @Html.Partial("_Summary", restaurant)
}

<div>
    <a asp-controller="Home" asp-action="Create">Create</a>
</div>
